*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.nav_left{
display: flex;

margin-left: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav_right{
    display: flex;

    gap: 40px;
    list-style: none;
    color: black;
    margin-right: 30px;
}
.nav_right a{
    color:black;
}
button{
    background-color: #FC004A;
    width: 256px;
    height: 36px;
    border: transparent;
    border-radius: 30px;
    display: flex;
    color: white;

}
header{

    width: 100%;
    height: 74px;
}
p{
    margin-left: 45px;
    margin-top: 10px;
}
.img2{
    margin-left: 45px;
    margin-top: 10px;
}
.img3{
    margin-left: 200px;
    margin-top: 150px;
    width: 1200px;
    height: 400px;
    right: 200px;
}
main{
    margin-top: 600px;
    margin-left: 200px;
}
h2{
    font-size: 32px;
}
.card{
    width: 235px;
    height: 235px;
    background-color: #a91717;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.p1{
    font-size: 20px;
}
.p2{
    margin-top: 50px;
    font-size: 20px;
}
.card2{
    background-color: #e8e8e8;
    border-radius: 25px;
    width: 235px;
    height: 150px;
}
.img4{
    margin-left: 180px;
}
.card4{
    width: 235px;
    height: 235px;
    background-color: #a91717;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 200px;
}

.card6{
    background-color: #e8e8e8;
    border-radius: 25px;
    width: 235px;
    height: 150px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 200px;
}